- provide(:title, "Home")

.jumbotron
  .container-fluid
    %h1.text-center Maskbook
    %p.text-center.lead
      Here are all the villains you could ever want for Halcyon City.
    %p.text-center.text-muted
      Well, of course, "villain" is a loaded term. Some of these may be
      anti-heroes, actual paragons of the city, or simply misunderstood. But
      we'll just call them villains.

.container
  .row
    .col-md-4
      %h2 Find a villain
      %p You can search for villains by their features: tags, generation, name, |
         description, or even the user who made them.                           |
      %p
        = link_to raw("See the silver generation &raquo;"),                             |
          { controller: "villains", action: "index", "s[search_query]": "gen:silver" }, |
          class: "btn btn-default"                                                      |
    .col-md-4
      %h2 Find a user
      %p Or maybe you want to see all the villains that your friend made! You |
         can filter by creator.                                               |
      %p
        = link_to raw("See Kit's villains &raquo;"),                                  |
          { controller: "villains", action: "index", "s[search_query]": "user:kit" }, |
          class: "btn btn-default"                                                    |
    .col-md-4
      %h2 Add your own villains
      %p But we know that your own villains are the best, right? So what are |
         you waiting for? Sign up! Add them!                                 |
      %p
        = link_to raw("Sign up &raquo;"), new_user_registration_path, class: "btn btn-default"
