<% provide(:title, "Villains") %>
<h1>
  Villains
  <% if user_signed_in? %>
    <div class="btn-group pull-right" role="group">
      <%= link_to "New", new_villain_path, class: "btn btn-success" %>
    </div>
  <% end %>
</h1>
<ul class="media-list">
  <% @villains.each do |villain| %>
    <li class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to villain.name, villain %> (<%= link_to villain.user.name, villain.user %>)
        </h4>
        <div>
          <%= markdown(villain.drive) %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
