- villain.tag_list.each do |tag|
  = link_to tag,                                                     |
    { controller: "search", action: "search", s: "\"tag:#{tag}\"" }, |
    class: "tag"                                                     |
