/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Bootstrap variables:
$coastal-off-white:   #f0f0f1;
$coastal-grey-sea:    #bdc2cf;
$coastal-olive-green: #a6ad8b;
$coastal-rich-green:  #7e8c6b;
$coastal-slate:       #524f4c;
$coastal-near-black:  #333333;

$brand-primary: $coastal-rich-green !default;
$brand-success: $coastal-olive-green !default;
// $brand-info:    $coastal-off-white !default;
// $brand-warning: $coastal-grey-sea !default;
// $brand-danger:  $coastal-near-black !default;
$body-bg:       $coastal-off-white !default;
$gray-dark:     $coastal-near-black !default;

$navbar-default-bg:                $coastal-slate !default;
$navbar-default-link-color:        $coastal-rich-green !default;
$navbar-default-link-hover-color:  $coastal-olive-green !default;
$navbar-default-brand-hover-color: $coastal-olive-green !default;

$alert-success-bg:      $coastal-olive-green;
$alert-success-border:  $coastal-rich-green;
$alert-success-text:    $coastal-off-white;
$alert-danger-bg:      $coastal-grey-sea;
$alert-danger-border:  $coastal-slate;
$alert-danger-text:    $coastal-slate;

$btn-danger-bg:     $coastal-grey-sea;
$btn-danger-border: $coastal-slate;
$btn-danger-color:  $coastal-slate;

$jumbotron-bg: $coastal-grey-sea;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 70px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $navbar-default-bg;
}

.footer .text-muted {
  margin: 20px 0;
}
