// Place all the styles related to the Villains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag:before {
  content: "#"
}

.tag {
  color: #777777;
}

textarea {
  resize: none;
}

.media {
  display: flex;
  flex-direction: row;
}

.media-left {
  margin-right: 10px;
  width: 100px;
}
