// Place all the styles related to the Villains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag:before {
  content: "#"
}

.tag {
  color: #777777;
}

textarea {
  resize: none;
}

.media {
  display: flex;
  flex-direction: row;
}

.media-left {
  margin-right: 10px;
  width: 100px;
}

@media only screen and (max-width: 992px) {
  .mugshot-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }

  h1 {
    small {
      display: block;
    }
  }
}

@media only screen and (min-width: 992px) {
  .mugshot-wrapper {
    float: right;
  }

  .villain-controls {
    float: right;
  }
}
