- provide(:title, @organization.name)
%h1
  = @organization.name
  .btn-group.villain-controls{role: "group"}
    - if can? :update, @organization
      = link_to "Edit", edit_organization_path(@organization), class: "btn btn-primary"
    - if can? :destroy, @organization
      = link_to "Delete",                 |
        organization_path(@organization), |
        data: {confirm: 'Are you sure?'}, |
        method: :delete,                  |
        class: "btn btn-danger"           |

= markdown(@organization.description)
