%footer.footer
  .container
    %p.text-muted
      &copy; 2017
      #{link_to "Kit La Touche", "https://twitter.com/wlonk"}.
      %br
      This is a work in progress. Please tell me about any problems on
      #{link_to "GitHub", "https://github.com/wlonk/maskbook/issues/new"} or
      #{link_to "Twitter", "https://twitter.com/wlonk"}.
