%footer.footer
  .container
    %p.text-muted
      &copy; 2017
      #{link_to "Kit La Touche", "https://twitter.com/wlonk"}.
      %br
      This is a work in progress. Please
      #{link_to "tell me about any problems", "https://github.com/wlonk/maskbook/issues/new"}.
